<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'pages/header.html' %}
</head>

<body class="g-sidenav-show   bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>

  {% include 'pages/aside.html' %}
  
  <main class="main-content position-relative border-radius-lg ">

    <!-- Navbar -->
    {% include 'pages/navbar.html' %}
    <!-- End Navbar -->
    
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Management User</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">

                <div class="container-fluid py-4">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="card">
                        <div class="card-header pb-0">
                        </div>

                        <div class="card-body">
                          <p class="text-uppercase text-sm">Soal Information</p>
                          <form id="soal-form" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="jurusan">Jurusan:</label>
                                        <div class="d-flex">
                                            <select class="form-control me-2 flex-grow-1" id="jurusan" name="jurusan" required>
                                                <option value="">Pilih Jurusan</option>
                                                {% for jurusan in jurusans %}
                                                <option value="{{ jurusan['_id'] }}">{{ jurusan['nama_jurusan'] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="kelas">Kelas:</label>
                                        <div class="d-flex">
                                            <select class="form-control me-2 flex-grow-1" id="kelas" name="kelas" required disabled>
                                                <option value="">Pilih Kelas</option>
                                                {% for kelas in kelass %}
                                                <option value="{{ kelas['_id'] }}">{{ kelas['nama_kelas'] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="materi">Materi:</label>
                                        <div class="d-flex">
                                            <select class="form-control me-2 flex-grow-1" id="materi" name="materi" required disabled>
                                                <option value="">Pilih Materi</option>
                                                {% for materi in materis %}
                                                <option value="{{ materi['_id'] }}" data-jurusan="{{ materi['jurusan_id'] }}" data-kelas="{{ materi['kelas_id'] }}">{{ materi['nama_materi'] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div id="form-fields">
                                            <div class="form-field">
                                                <input class="form-control" type="text" name="soal[]" placeholder="Enter question" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center" style="gap: 10px;">
                                <button type="button" id="add-field" class="btn bg-gradient-info mb-0 d-flex align-items-center">
                                    <i class="fas fa-save"></i>&nbsp;&nbsp;Add Question
                                </button>
                                <button type="submit" class="btn bg-gradient-info mb-0 d-flex align-items-center">
                                    <i class="fas fa-save"></i>&nbsp;&nbsp;Submit
                                </button>
                            </div>
                        </form>
                              
                          <hr class="horizontal dark">
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {% include 'pages/pengaturan.html' %}

  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
    // Event handler untuk menambah field soal
    $('#add-field').click(function() {
        $('#form-fields').append(
            '<div class="form-field">' +
                '<input class="form-control mt-3" type="text" name="soal[]" placeholder="Enter question" required>' +
            '</div>'
        );
    });

    // Event handler untuk submit form
    $('#soal-form').submit(function(e) {
        e.preventDefault();

        let soalData = [];
        $('#form-fields .form-field').each(function() {
            let value = $(this).find('input').val();
            soalData.push(value);
        });

        let kelas_id = $('#kelas').val();
        let jurusan_id = $('#jurusan').val();
        let materi_id = $('#materi').val();

        let postData = {
            soal: soalData,
            kelas_id: kelas_id,
            jurusan_id: jurusan_id,
            materi_id: materi_id
        };

        console.log("Data to be sent:", postData);

        $.ajax({
            url: '/proxy/soal/insert',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(postData),
            success: function(response) {
                alert(response.message);
                window.location.href = response.redirect_url;
            },
            error: function(error) {
                alert('Error: ' + error.responseJSON.message);
            }
        });
    });

    function filterMateri() {
        const jurusanId = $('#jurusan').val();
        const kelasId = $('#kelas').val();
        const materiOptions = $('#materi option');

        materiOptions.each(function() {
            const option = $(this);
            const optionJurusanId = option.data('jurusan');
            const optionKelasId = option.data('kelas');

            if ((jurusanId === "" || optionJurusanId === jurusanId) &&
                (kelasId === "" || optionKelasId === kelasId)) {
                option.show();
            } else {
                option.hide();
            }
        });
    }

    $('#jurusan').change(function() {
        const jurusanId = $(this).val();

        if (jurusanId) {
            $('#kelas').prop('disabled', false);
            $('#materi').prop('disabled', true).val('');
            $('#kelas').val('');
        } else {
            $('#kelas').prop('disabled', true).val('');
            $('#materi').prop('disabled', true).val('');
        }

        filterMateri();
    });

    $('#kelas').change(function() {
        const kelasId = $(this).val();

        if (kelasId) {
            $('#materi').prop('disabled', false);
        } else {
            $('#materi').prop('disabled', true).val('');
        }

        filterMateri();
    });

    // Initial state for filtering
    filterMateri();
});

</script>



  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>

</html>