<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'pages/header.html' %}
</head>

<body class="g-sidenav-show   bg-gray-100">
  <div class="min-height-300 bg-gradient-info position-absolute w-100"></div>

  {% include 'pages/aside.html' %}
  
  <main class="main-content position-relative border-radius-lg ">

    <!-- Navbar -->
    {% include 'pages/navbar.html' %}
    <!-- End Navbar -->
    
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Management Materi</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">

                <div class="container-fluid py-4">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="card">
                        <div class="card-header pb-0">
                        </div>

                        <div class="card-body">
                          <p class="text-uppercase text-sm">Materi Information</p>

                          <form id="create-materi-form" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="nama_materi" class="form-control-label">Materi</label>
                                        <input class="form-control" type="text" name="nama_materi" id="nama_materi" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="deskripsi_materi" class="form-control-label">Detail Materi</label>
                                        <input class="form-control" type="text" name="deskripsi_materi" id="deskripsi_materi" required>
                                    </div>
                                </div>
                        
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="jurusan_id" class="form-control-label">Jurusan</label>
                                        <div class="d-flex">
                                            <select class="form-control me-2 flex-grow-1" name="jurusan_id" id="jurusan_id" required>
                                                <option value="" disabled selected>Pilih Jurusan</option>
                                                {% for jurusan in jurusan_list %}
                                                    <option style="font-weight: 600;" value="{{ jurusan['_id'] }}">{{ jurusan['nama_jurusan'] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="kelas_id" class="form-control-label">Kelas</label>
                                        <div class="d-flex">
                                            <select class="form-control me-2 flex-grow-1" name="kelas_id" id="kelas_id" required onchange="filterDeskripsiKelas()">
                                                <option value="" disabled selected>Pilih Kelas</option>
                                                {% for kelas in kelas_list %}
                                                    <option style="font-weight: 600;" value="{{ kelas['_id'] }}">{{ kelas['nama_kelas'] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="deskripsi_kelas" class="form-control-label">Kode Kelas</label>
                                        <div class="d-flex">
                                            <select class="form-control me-2 flex-grow-1" name="deskripsi_kelas" id="deskripsi_kelas" required>
                                                <option value="" disabled selected>Pilih Kode Kelas</option>
                                                {% for kelas in kelas_list %}
                                                    {% for deskripsi in kelas['deskripsi_kelas'] %}
                                                        <option class="deskripsi-option" data-kelas-id="{{ kelas['_id'] }}" style="font-weight: 600;" value="{{ deskripsi }}">{{ deskripsi }}</option>
                                                    {% endfor %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="pdf_files" class="form-control-label">Unggah File PDF</label>
                                        <input class="form-control" type="file" name="pdf_files" id="pdf_files" accept=".pdf" multiple required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 text-start d-flex">
                                <button type="submit" class="btn bg-gradient-info mb-0 me-2 d-flex align-items-center">
                                    <i class="fas fa-save"></i>&nbsp;&nbsp;Add
                                </button>
                                <a href="/materi" class="btn bg-gradient-warning mb-0 d-flex align-items-center">
                                    <i class="fas fa-times"></i>&nbsp;&nbsp;Cancel
                                </a>
                            </div>
                        </form>
                        
                        
                          <hr class="horizontal dark">
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {% include 'pages/pengaturan.html' %}

  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {

        // Disable kelas and deskripsi_kelas initially
        $('#kelas_id').prop('disabled', true);
        $('#deskripsi_kelas').prop('disabled', true);
    
        // Enable kelas_id when jurusan is selected
        $('#jurusan_id').change(function() {
            const selectedJurusanId = $(this).val();
    
            if (selectedJurusanId) {
                $('#kelas_id').prop('disabled', false);
            } else {
                $('#kelas_id').prop('disabled', true);
                $('#deskripsi_kelas').prop('disabled', true);
            }
        });
    
        // Enable deskripsi_kelas when kelas is selected
        $('#kelas_id').change(function() {
            const selectedKelasId = $(this).val();
    
            if (selectedKelasId) {
                $('#deskripsi_kelas').prop('disabled', false);
                filterDeskripsiKelas(); // Call filterDeskripsiKelas when kelas is selected
            } else {
                $('#deskripsi_kelas').prop('disabled', true);
            }
        });
    
        // Function to filter deskripsi_kelas based on selected kelas
        function filterDeskripsiKelas() {
            const selectedKelasId = $('#kelas_id').val();
    
            // Hide all options in deskripsi_kelas
            $('#deskripsi_kelas option').hide();
    
            // Show options that match the selected kelas_id
            $(`#deskripsi_kelas option[data-kelas-id="${selectedKelasId}"]`).show();
        }
    
        // Initialize the form based on preselected values
        if ($('#jurusan_id').val()) {
            $('#kelas_id').prop('disabled', false);
        }
    
        if ($('#kelas_id').val()) {
            $('#deskripsi_kelas').prop('disabled', false);
            filterDeskripsiKelas();
        }

        $('#create-materi-form').submit(function(event) {
            event.preventDefault();
    
            var formData = new FormData(this);
    
            $.ajax({
                type: 'POST',
                url: '/proxy/materi/insert',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    alert(response.message);
                    if (response.redirect_url) {
                        window.location.href = response.redirect_url;
                    }
                },
                error: function(xhr, status, error) {
                    alert('Terjadi kesalahan: ' + xhr.responseJSON.message);
                }
            });
        });
    });
    </script>
    


  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>

</html>