<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'pages/header.html' %}
</head>

<body class="g-sidenav-show   bg-gray-100">
  <div class="min-height-300 bg-gradient-info position-absolute w-100"></div>

  {% include 'pages/aside.html' %}
  
  <main class="main-content position-relative border-radius-lg ">

    <!-- Navbar -->
    {% include 'pages/navbar.html' %}
    <!-- End Navbar -->
    
    <div class="container-fluid py-4">
      <div class="row">
          <div class="col-12">
              <div class="card mb-4">
                  <div class="card-header pb-0">
                      <h6>Management Soal</h6>

                    <!-- Tampilkan pesan kesalahan jika ada -->
                    {% if error_message %}
                    <div class="alert alert-danger m-4 text-white" role="alert">
                        {{ error_message }}
                    </div>
                    {% endif %}

                    {% if not error_message %}
                    <div class="col-2 text-start">
                        {% if user.role in ['admin', 'guru'] %}
                        <a class="btn bg-gradient-info mb-0" href="{{ url_for('create_soal') }}">
                            <i class="fas fa-plus"></i>&nbsp;&nbsp;Add New Soal</a>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                        <tr>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Jurusan</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Kelas</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Materi</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Jumlah Soal</th>
                            {% if user.role == 'siswa' %}
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nilai</th>
                            {% endif %}
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for s in soals %}
                        <tr>
                            <td class="align-middle text-center text-sm">
                                <p class="text-xs font-weight-bold mb-0">{{ s.nama_jurusan }}</p>
                            </td>
                            <td class="align-middle text-center text-sm">
                                <p class="text-xs font-weight-bold mb-0">{{ s.nama_kelas }}</p>
                            </td>
                            <td class="align-middle text-center text-sm">
                            <p class="text-xs font-weight-bold mb-0">{{ s.nama_materi }}</p>
                            </td>
                            <td class="align-middle text-center text-sm">
                                <p class="text-xs font-weight-bold mb-0">{{ s.questions | length }}</p>
                            </td>

                            {% if user.role == 'siswa' %}
                            <td class="align-middle text-center text-sm">
                                {% if s.nilai is none %}
                                    <p class="text-xs font-weight-bold mb-0">sedang dalam koreksi</p>
                                {% else %}
                                    <p class="text-xs font-weight-bold mb-0">{{ s.nilai }}</p>
                                {% endif %}
                            </td>
                            {% endif %}
                        

                            <td class="align-middle text-center text-sm">

                            {% if user.role in ['admin', 'guru'] %}
    
                                <a href="{{ url_for('koreksi_jawaban', soal_id=s['_id']) }}" class="text-white font-weight-bold text-xs bg-gradient-success p-2" data-toggle="tooltip" data-original-title="Koreksi Jawaban" style="border: none; border-radius: 4px;">
                                    Koreksi Jawaban
                                </a>
                                <a href="{{ url_for('edit_soal', soal_id=s['_id']) }}" class="text-white font-weight-bold text-xs bg-gradient-info p-2" data-toggle="tooltip" data-original-title="Edit Materi" style="border: none; border-radius: 4px; margin-left: 4px;">
                                    Edit
                                </a>
                                <button data-soal-id="{{ s['_id'] }}" class="delete-soal text-white font-weight-bold text-xs bg-gradient-danger p-2" style="border: none; border-radius: 4px; margin-left: 4px;">
                                    Hapus
                                </button>

                                {% elif user.role == 'siswa' %}
                                    {% if s.nilai is none %}
                                        <a href="{{ url_for('jawab_soal', soal_id=s['_id']) }}" class="text-white font-weight-bold text-xs bg-gradient-info p-2" style="border: none; border-radius: 4px;">Jawab Soal</a>
                                    {% else %}
                                        <a class="text-white font-weight-bold text-xs bg-gradient-success p-2" style="border: none; border-radius: 4px;">Succes Submit</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>               
                    
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</main>

  {% include 'pages/pengaturan.html' %}

  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('.delete-soal').on('click', function() {
        const soalId = $(this).data('soal-id');
        if (confirm('Apakah Anda yakin ingin menghapus soal ini?')) {
            $.ajax({
                url: `/delete-soal/${soalId}`,
                type: 'DELETE',
                success: function(result) {
                    alert(result.message);
                    window.location.reload(); // Segarkan halaman setelah berhasil dihapus
                },
                error: function(xhr) {
                    alert('Terjadi kesalahan: ' + xhr.responseJSON.message);
                }
            });
        }
    });
});
</script>

  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>

</html>